.App {
  text-align: center;

}

.nav {
  background-color: #bdc6c1;
  height: 70px;
  margin: -0.8%;
  font-size: 32px;
  font-weight: 500;

}

.main {
  background-color: #e0ebe5;
  display: flex;
  width: 100%;
  justify-content: center;
 
}

.optionBox {

  width: 45%;
  margin: 1rem;

}

.optionBox>div,
.start {
  text-align: start;
}

.resultBox {

  width: 40%;
  margin: 1rem;
}

.box {
  background-color: #b9c1bd;
  padding: 1rem;
  margin: 1rem;

}

#color {
  background-color: #bac3be;
  padding: 1rem;
  margin: 1rem;

}

.heading {
  background-color: grey;
  margin-bottom: 1rem;
  color: #222;
  margin: 0;
}

.imagediv {
  border-radius: 100%;
  height: 200px;
  width: 200px;
  border: 1px solid black;
  margin: auto
}

.imagediv>img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  box-sizing: content-box;
}

.selectbutton {
  padding: 3px;
  margin: 5px;
  border: 1px solid;
  transition: .3s;
}

#sandal {
  background-color: #d2bba1;

}

#green {
  background-color: #aed5ae;
}

#blue {
  background-color: #aaacd0;
}

#orange {
  background-color: #d6a8b3;
}

#violet {
  background-color: #c7a3c7;
}

#white {
  background-color: #cfd2d0;
  border: 1px solid rgb(112, 104, 104);
}

button {
  cursor: pointer;

}

.btn:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.start {

  background-color: #b9c1bd;
  padding: 1rem;
  margin: 1rem;
}

#input {
  width: 210px;
}


textarea {
  width: 100%;
  /* margin-top: 1%; */

}
.textarea{
  width: 240%;
}

* {
  box-sizing: border-box;
}

@media only screen and (max-width: 480px) {
  * {
    margin-top: -1.3%;

  }

  .main {
    width: 100%;
    display: block;
    border: 2px solid navy;
    padding-bottom: 200px;

  }

  .optionBox,
  .resultBox {
    width: 100%;
    margin: auto;

  }

  textarea {
    width: 100%;
    margin-top: 1%;

  }
  .textarea{
    width: 100%;
  }
  

}

@media only screen and (max-width:800px) {
  * {
    margin-top: -0.4%;

  }

  .App {
    width: auto;

  }

  .main {
    width: 100%;
    display: block;
    border: 2px solid navy;
    padding-bottom: 500px;

  }

  .optionBox,
  .resultBox {
    margin: auto;
    width: 100%;
  
  }

  textarea {
    width: 100%;
    margin-top: 1%;

  }
  .textarea{
    width: 100%;
  }

}

@media only screen and (min-width:800px) and (max-width:980px){
  * {
    margin-top: -0.3%;

  }

  .App {
    width: auto;
    
  }

  .main {
    width: 100%;
    display: block;
    border: 2px solid navy;
    padding-bottom: 700px;

  }

  .optionBox,
  .resultBox {
    margin: auto;
    width: 100%;
  
  }

  textarea {
    width: 100%;
    margin-top: 1%;

  }
  .textarea{
    width: 100%;
  }

}